public/
resources/
.hugo_build.lock

# Obsidian
.obsidian/

# Materiale di lavoro
materiali/

# Documentazione privata
documentazione/

# Strumenti locali di conversione e lavoro
tools/
# File temporanei da eliminare manualmente
_to_delete/
